.header{
    text-align: center;
    font-weight: 700;
    background-color: lightgray;
    bottom: 0;
   padding: 5px;
   width: 100%;
}
.header h2{
    color: rgb(235, 16, 155);
    font-size: 30px;
    font-weight: 700;
}
.header h3{
    color: rgb(234, 82, 82);
    font-size: 25px;
}
/* @media  screen and (max-width: 328px) {
    .header{
        margin: 0;
       
     }
 } */
